<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%=listTittle%></h1>
    </div>
    <div class="box">
      <%for(var i=0;i<newListItems.length;i++){%>
      <div class="item">
        <input type="checkbox">
          <p><%=newListItems[i]%></p>

    </div>



      <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value= <%= listTittle %> >+</button>    <!-- name and value dono pass hota h req.body me so value dynamically milega by listTittle se-->

    </form>
    </div>
<%- include("footer") -%>
